<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1 gsb</ion-title>
      
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page">
    {{name}}
  </app-explore-container>
</ion-content>

<ion-content>

  <ion-list inset *ngFor = "let employee of employees">
    <ion-item >
      {{employee.id}} {{employee.name}} {{employee.email}}
    </ion-item>
  </ion-list>
</ion-content>

<ion-content>
  <ion-list padding *ngFor="let employee of employees">
      <ion-item>
        {{employee.id}} {{employee.name}} {{employee.email}}
      </ion-item>
  </ion-list>
</ion-content>

<ion-content>
  {{name}}
</ion-content>
