<div class="containerGrid">
    <div class="header">
        <nav class="container">
            <div class="prev" (click)="goPrevious()">Previous</div>
            <div class="next" (click)="goNext()">Next</div>
            <div class="back" (click)="goToEmployees()">Back</div>
            <div class="edit" (click)="showChild()">Edit</div>
            <div class="reactEdit" (click)="reactiveEmployeeEdit()" routerLinkActive="active">Reactive Edit</div>
            <div class="delete" (click)="deleteEmployee()">Delete</div>
            <div class="add" (click)="addEmployee()">Add</div>
            <!-- I can use routerLink dor direct access like this <a [routerLink]="['/employees', 1]" routerLinkActive="active">Dragon Crisis</a>-->
            <input type="text" class="search" placeholder="Search...">


        </nav>
    </div>
    <div class="menu">Menu</div>
    <div class="content">
        <div class="containerGridContent">
            <div>Content</div>
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
            <div>10</div>
            <div>11</div>
            <div>12</div>
        </div>
    </div>
    <div class="footer">Footer</div>
</div>

<p>Param id is equal to: {{employeeId}}</p>

<!-- Added router-outlet, so that I can navigate to the child componenet, so see it as an overview -->
<router-outlet></router-outlet>



<ul *ngFor="let employee of employees; let i = index">
    <div *ngIf="employee.id == employeeId; then displayEmployee;">

    </div>

    <ng-template #displayEmployee>
        <h2>
            <p>Employee name: {{ employee.name }} </p>
        </h2>
    </ng-template>
    <!--<li>{{employee.name}}</li>-->
</ul>

<ng-template #dontDisplayEmployee>
    <h2>
        No employee data for this ID
    </h2>
</ng-template>