<p> Sensor readings </p>
<!--<ul *ngFor="let cat of cats2">
    <li>{{cat.Id}} {{cat.Name}}</li>
</ul>-->
<body class="bg-img">  
    <div class="table-responsive">
    <table class="table">
      <thead>
        <th *ngFor = "let column of headers">
            {{column}}
        </th>
      </thead>
      <tbody>
        <tr *ngFor = "let row of sensors">
            <td *ngFor = "let column of headers">
              {{row[column]}}
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

<div style="display: block">
    <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
    </canvas>
  </div>

