<h2 mat-dialog-title>{{header}}</h2>

<mat-dialog-content [formGroup]="form" (ngSubmit)="form.valid && save()">

    <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>
    <hr>
    <mat-form-field>
        <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" mat-dialog-close = "false" (click)="close()">Close</button>
    <button [disabled]="form.invalid" type="submit" class="mat-raised-button mat-primary" mat-dialog-close = "true" (click)="save()">Save</button>
</mat-dialog-actions>