<div class="container-fluid">
    <h2>Reactive edit employee</h2>
    {{serverErrorMessage}}
    <!--{{registrationForm.value | json}}-->
    <!-- We bind the form to the model with [formGroup] -->
    <form [formGroup]="registrationForm" (ngSubmit) = "onSubmit()" novalidate>
        <div class="form-group">
            <label>Name</label>
            <!-- We bind the form control to the model with formControlName directive 
              -- We apply class.is-invalid to the element when the name is invalid and touched by using get()
            -->
            <input #studentName [class.is-invalid]="studentName.invalid &&
                                         studentName.touched" formControlName="name" type="text" class="form-control">
            <!-- Commented this one -- I need specific error message according to the validator in the class
                <small [class.d-none] = "studentName.valid ||
                                     studentName.untouched" class = "text-danger">Name is required</small>
            -->
            <!-- ? is the safe navigation operator - it checks for null values -->
            <div *ngIf="studentName.invalid && studentName.touched">
                <small *ngIf="studentName.errors?.required" class="text-danger">Name is required</small>
                <small *ngIf="studentName.errors?.minlength" class="text-danger">Name must be at least 3 chars</small>
                <small *ngIf="studentName.errors?.forbiddenName"
                    class="text-danger">{{studentName.errors?.forbiddenName.value | uppercase}} name not allowed</small>
            </div>
        </div>

        <div class="form-group">
            <label>Email</label>
            <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addAlternateEmail()">Add email</button>
            <input [class.is-invalid]="email.invalid && email.touched" type="text" formControlName="email" class="form-control">
            <small [class.d-none] = "email.valid || email.untouched">Email is required</small>

            <!-- We iterate over the array to display the emails; we also access the index - to find to the formControlName property;
              -- we also need to add the formArrayName directive to keep track of the formArray values
              -->
            <div formArrayName = "alternateEmails" *ngFor = "let email of alternateEmails.controls; let idx = index">
                <input type = "text" type = "form-control my-1" [formControlName] = "idx">
                <button type="button" class="btn btn-secondary btn-sm m-2" (click)="removeAlternateEmail(idx)">Remove email</button>
            </div>
        </div>

        <div class="form-group">
            <label>Birthdate</label>
            <input formControlName="birthdate" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>GroupID</label>
            <input formControlName="groupId" type="number" class="form-control">
        </div>

        <div class="form-group">
            <label>AddressID</label>
            <input formControlName="AddressID" type="number" class="form-control">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            <input [class.is-invalid]="registrationForm.errors?.misMatch" formControlName="confirmPassword"
                formControlName="confirmPassword" type="password" class="form-control">
            <small class="text-danger" *ngIf="registrationForm.errors?.misMatch">Passwords do not match</small>
        </div>

        <!-- Added formGroupName, in order to map to the 'address' FormGroup from the .ts file -->
        <div formGroupName="address">
            <div class="form-group">
                <label>City</label>
                <input formControlName="city" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>State</label>
                <input formControlName="state" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>Postal code</label>
                <input formControlName="postalCode" type="text" class="form-control">
            </div>
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input" formControlName="subscribe" type="checkbox">
            <label class="form-check-label">Send me promotional offers</label>
        </div>

        <button [disabled]="registrationForm.invalid" class="btn btn-primary">Submit</button>
    </form>
</div>