<span>{{ title }} app is running in app component html!</span>
<div>{{windowLocation}}</div>

<div style = "text-align:center">
  <h1>
    Emea session
  </h1>
  <!-- old test functionality uncomment XXXXXXXXX
  <h2>
    Message from child: {{messageFromChild}}
  </h2>-->
</div>

<!-- Capture the event, bind it here in the div section on the child; $event = the (argument) string mess from the child -->
<!-- old test functionality uncomment XXXXXXXXX 
<div (childEvent) = "messageFromChild=$event" [parentData] = "name" app-test></div>-->

<hr>
<nav> <!-- With routerLink we navigate to the corresponding view defined in the router list
           With routerLinkActive we define the CSS classes applied to the view after clicking -->
  <a class="bg-light text-black-50" routerLink = "/employee-details" routerLinkActive = "active">Employees details </a>
  <a class="bg-light text-black-50" routerLink = "/employees" routerLinkActive = "active">Employees names </a>
  <a class="bg-light text-black-50" routerLink = "/cats" routerLinkActive = "active">Cats </a>
  <a class="bg-light text-black-50" routerLink = "/sensors" routerLinkActive = "active">Sensors </a>
</nav>
<hr>
<!--<div app-employee-list></div>
<div app-employee-detail></div>
<div app-cats-detail></div>-->
<div [ngStyle]="{backgroundImage:'url(D:\Angular\intro2angular\src\app\cats-list\Background-image\backgr.jpg)'}" >

</div>
<router-outlet></router-outlet> <!-- this specifies where a view is displayed THE ROUTER VIEW GOES HERE-->