/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

$primary-color:green;
$paragraph-color: #148367;
$primary-background-color: gray;

h1{
    color:$primary-color;
}

// div{
//     background-color: $primary-background-color;
// }

p{
    color:$paragraph-color;
}
nav a.active{
    color: blue;
}
nav a:hover{
    color:green;
    background-color:rgb(15, 121, 86);
}
nav a:visited, a:link{
    color:red;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
