/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

nav a.active{
    color: blue;
}
nav a:hover{
    color:green;
    background-color:aquamarine;
}
nav a:visited, a:link{
    color:red;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
