<div class="container">
    <button (click)="addToDo()" class="add-todo-button" mat-raised-button color="primary">
        Add ToDo
    </button>

    <mat-card>
        <li *ngFor="let item of todosRxDB$ | async; index as i">
            {{item.title}}
        </li>
    </mat-card>

    <mat-spinner *ngIf="loading"></mat-spinner>

    <ng-container *ngIf="!loading && todos.length > 0; then showToDos; else noToDos"></ng-container>
    <ng-template #showToDos>
        <mat-card *ngFor="let todo of todos">
            <p [ngClass]="{complete:todo.status === 'completed'}">Title: {{todo.title}}</p>
            <p>Description: {{todo.description}}</p>

            <button class="mark-completed-button" *ngIf="todo.status === 'open'" mat-stroked-button
                (click)="completeToDo(todo.toDoID)">
                Mark as complete
            </button>

            <button class="mark-completed-button" *ngIf="todo.status === 'completed'" mat-stroked-button
                (click)="deleteToDo(todo.toDoID)">
                Delete
            </button>

        </mat-card>
    </ng-template>
    <ng-template #noToDos>
        <mat-card>
            <p>No Todos</p>
        </mat-card>
    </ng-template>

    <div cdkDropListGroup>
        <div class="example-container">
            <h2>To do</h2>

            <div cdkDropList [cdkDropListData]="toDoD" class="example-list" (cdkDropListDropped)="drop($event)"
                (cdkDropListExited)="exitedOpen($event)" (cdkDropEntered)="enteredOpen($event)">
                <div class="example-box" *ngFor="let item of toDoD" cdkDrag [cdkDragData]="item">
                    {{item.title}}
                </div>
            </div>
        </div>

        <div class="example-container">
            <h2>Done</h2>

            <div cdkDropList [cdkDropListData]="doneD" class="example-list" (cdkDropListDropped)="drop($event)"
                (cdkDropListExited)="exitedCompleted($event)" (cdkDropEntered)="enteredCompleted($event)">
                <!-- In order to pass the data to the entered/exited methods, I need this cdkDragData item -->
                <div class="example-box" *ngFor="let item of doneD" cdkDrag [cdkDragData]="item">
                    {{item.title}}
                </div>
            </div>
        </div>
    </div>

</div>